:root {
  --card: #ffffff;
  --card-shadow: 0 10px 30px rgba(30, 41, 59, 0.12);
  --font: #222;
}

.container {
  margin: 5rem auto;
  padding: 2rem 3rem;
  width: fit-content;
  min-width: 15%;
  color: var(--font);
  font: 500 16px/1.4 system-ui;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15%;
  box-shadow: var(--card-shadow);

  backdrop-filter: blue(12px);
  -webkit-backdrop-filter: blur(12px);
}

select,
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 0.1rem 2rem 0.1rem 0.8rem;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-direction: column;
}

#Dino-emoji {
  margin: 0 auto;
  width: fit-content;
  font-size: 128px;
}

#Dino-name {
  margin: 0 auto;
  width: fit-content;
  font-size: 24;
  font-weight: 700;
}
